<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.ticket.dao.FavoriteMapper">
    <resultMap id="BaseFavoriteMap" type="com.whu.ticket.pojo.Favorite">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="event_id" property="event_id"/>
        <result column="time" property="time"/>
    </resultMap>

    <resultMap id="BaseFavoriteVOMap" type="com.whu.ticket.vo.FavoriteVO">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="event_id" property="event_id"/>
        <result column="time" property="time"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="cover" property="cover"/>
    </resultMap>

    <select id="countByUserId" resultType="integer">
        select count(*) from favorite
        where user_id = #{userId}
    </select>

    <select id="selectByUserId" resultMap="BaseFavoriteVOMap">
        select f.id, f.user_id, f.event_id, f.time, e.name, e.price, e.cover
        from favorite f, event e
        where f.user_id = #{userId} and f.event_id = e.id
        limit #{offset}, #{limit}
    </select>

    <select id="selectByUserIdAndEventId" resultMap="BaseFavoriteMap">
        select * from favorite
        where user_id = #{userId} and event_id = #{eventId}
    </select>

    <insert id="insertFavorite" useGeneratedKeys="true" keyProperty="id">
        insert into favorite(user_id, event_id, time)
        values (#{user_id}, #{event_id}, #{time})
    </insert>

    <delete id="deleteByIdAndUserId">
        delete from favorite
        where id = #{id} and user_id = #{user_id}
    </delete>

</mapper>